<div class="header">
  <img src="https://drive.google.com/uc?id=14h9DNKY8p8nymdVl9ebT89Fb1Spgpis7" alt="Logo" class="logo">
  <h1>MarcenariaAPI</h1>
</div>


<!-- <div class="welcome">
  <p>Bem-vindo à MarcenariaAPI!</p>
</div> -->

<div class="app-container">
  <div class="sidebar">
    <h2>Classes</h2>
    <ul>
      <li><a routerLink="/agendas" routerLinkActive="active">Agendas</a></li>
      <li><a routerLink="/funcionarios" routerLinkActive="active">Funcionários</a></li>
      <li><a routerLink="/estoque" routerLinkActive="active">Estoque</a></li>
      <li><a routerLink="/materiais" routerLinkActive="active">Material</a></li>
      <li><a routerLink="/projetos" routerLinkActive="active">Projeto</a></li>
      <li><a routerLink="/tarefas" routerLinkActive="active">Tarefa</a></li>
      <!-- Adicione mais links conforme necessário -->
    </ul>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
