<div class="container p-5 mat-elevation-z2">
    <div class="row">
      <div
        class="col-6 border border-light rounded p-5 shadow"
        *ngIf="formulario"
      >
         Cadastro de Estoque
         <h6>{{ tituloFormulario }}</h6>
        <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

          <div class="form-group">
            <label>Quantidade</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="quantidade"
            />
          </div>

          <div class="container">
            <div class="row">
              <div class="col-6">
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                  Salvar
                </button>
              </div>
              <div class="col-6 pl-1">
                <button type="button" class="btn btn-sm btn-light">Voltar</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Novo Container -->
      <div class="col-6 border border-light rounded p-5 shadow">
        <h6>Operações com Estoques</h6>
        <button class="btn btn-sm btn-primary" (click)="listarEstoques()">
          Listar Estoques
        </button>

        <div *ngFor="let estoque of estoquesList">
          <div class="estoque-item">
            <div>
              <strong>ID da estoque:</strong> {{ estoque.id }}
            </div>
            <div><strong>Quantidade da estoque:</strong> {{ estoque.quantidade }}</div>
            <div class="estoque-actions">
              <!-- Botão de edição -->
              <button class="btn btn-sm btn-info" (click)="editarEstoque(estoque)">
                Editar
              </button>
              <!-- Botão de exclusão -->
              <button
                class="btn btn-sm btn-danger"
                (click)="excluirEstoque(estoque.id)"
              >
                Excluir
              </button>
            </div>
          </div>
          <hr />
          <!-- Adiciona uma linha horizontal entre cada estoque -->
        </div>

        <!-- Formulário de Edição -->
        <div *ngIf="estoqueSelecionado">
          <h6>Editar Estoque</h6>
          <form [formGroup]="formularioEdit" (ngSubmit)="enviarFormulario()">
            <!-- Campos de edição -->

            <div class="form-group">
              <label>Id da Estoque</label>
              <input
                type=""
                class="form-control form-control-sm"
                formControlName="id"
                readonly
              />
            </div>

            <div class="form-group">
              <label>Quantidade</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="quantidade"
              />
            </div>

            <!-- Botão de Salvar Edição -->
            <button type="button" class="btn btn-sm btn-success"
            (click)="salvarEdicao()">
              Salvar Edição
            </button>

            <!-- Botão de Voltar -->
            <button
              type="button"
              class="btn btn-sm btn-light"
              (click)="voltarParaLista()"
            >
              Voltar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
